.fila{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.columna{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contenedor-body{
  background-color: #c2d1f0;
  margin: 0;
}
.body{
  margin: 0;
}
.acciones{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
  }
  .boton {
    background-color: #85A3E0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    transition-duration: 0.4s;
  }
  .boton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }