.fila{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.columna{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.contenedor-body{
  background-color: #c2d1f0;
  margin: 0;
}
.body{
  margin: 0;
}
.acciones{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
  }
 